In [23]:
import pandas as pd
import numpy as np
data = pd.read_csv('P4AI_BT1.csv')

Cau 1: Hien thi toan bo du lieu

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  135 non-null    float64
 1   sepal.width   135 non-null    float64
 2   petal.length  135 non-null    float64
 3   petal.width   135 non-null    float64
 4   variety       135 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

Cau 2: Dien cac gia tri bi thieu

In [25]:
df1 = data.copy()
display(df1.isna().sum())
display(df1)

sepal.length    15
sepal.width     15
petal.length    15
petal.width     15
variety         15
dtype: int64

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           NaN          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          NaN     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          NaN           5.0          1.9  Virginica
147           NaN          NaN           5.2          2.0  Virginica
148           NaN          3.4           NaN          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

* Phuong phap trung binh

In [26]:
df1['sepal.length'].fillna(round(data['sepal.length'].mean()),inplace=True)
df1['sepal.width'].fillna(round(data['sepal.width'].mean()),inplace=True)
df1['petal.length'].fillna(round(data['petal.length'].mean()),inplace=True)
df1['petal.width'].fillna(round(data['petal.width'].mean()),inplace=True)
display(df1)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           4.0          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          1.0     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          3.0           5.0          1.9  Virginica
147           6.0          3.0           5.2          2.0  Virginica
148           6.0          3.4           4.0          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

* Phuong phap tan so cao

In [27]:
df1['variety'].fillna(df1['variety'].mode()[0], inplace=True)
display(df1)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           4.0          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          1.0     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          3.0           5.0          1.9  Virginica
147           6.0          3.0           5.2          2.0  Virginica
148           6.0          3.4           4.0          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [28]:
df1.isna().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

Cau 3: Hien thi cac ban ghi co sepal.length > 5 va sepal.width > 3

In [29]:
df2 = df1.copy()
df2[ (df2['sepal.length'] > 5) & (df2['sepal.width'] > 3)]

     sepal.length  sepal.width  petal.length  petal.width     variety
0             5.1          3.5           1.4          0.2      Setosa
5             5.4          3.9           1.7          0.4      Setosa
6             6.0          3.4           1.4          0.3      Setosa
7             6.0          3.4           1.5          0.2      Setosa
10            5.4          3.7           1.5          0.2      Setosa
15            5.7          4.4           1.5          1.0      Setosa
16            5.4          3.9           1.3          0.4      Setosa
17            5.1          3.5           1.4          0.3   Virginica
18            5.7          3.8           1.7          1.0      Setosa
19            5.1          3.8           1.5          0.3      Setosa
20            5.4          3.4           4.0          0.2      Setosa
21            5.1          3.7           4.0          0.4      Setosa
23            5.1          3.3           1.7          0.5      Setosa
27            5.2          3.5           1.5          0.2   Virginica
28            5.2          3.4           1.4          0.2      Setosa
31            5.4          3.4           1.5          0.4      Setosa
32            5.2          4.1           1.5          0.1      Setosa
33            5.5          4.2           1.4          0.2   Virginica
36            5.5          3.5           1.3          0.2      Setosa
39            5.1          3.4           1.5          0.2      Setosa
43            6.0          3.5           1.6          0.6      Setosa
44            5.1          3.8           1.9          1.0      Setosa
46            5.1          3.8           1.6          0.2      Setosa
47            6.0          3.2           1.4          0.2      Setosa
48            5.3          3.7           1.5          0.2      Setosa
50            7.0          3.2           4.7          1.4   Virginica
51            6.4          3.2           4.5          1.0  Versicolor
52            6.0          3.1           4.9          1.5  Versicolor
56            6.3          3.3           4.7          1.6  Versicolor
65            6.7          3.1           4.4          1.4  Versicolor
70            5.9          3.2           4.8          1.8   Virginica
85            6.0          3.4           4.5          1.6  Versicolor
86            6.7          3.1           4.7          1.5  Versicolor
100           6.3          3.3           6.0          1.0   Virginica
110           6.5          3.2           5.1          2.0   Virginica
115           6.4          3.2           5.3          2.3   Virginica
117           7.7          3.8           6.7          2.2   Virginica
120           6.9          3.2           5.7          2.3   Virginica
124           6.7          3.3           5.7          2.1   Virginica
125           7.2          3.2           6.0          1.8   Virginica
131           7.9          3.8           6.4          2.0   Virginica
136           6.3          3.4           5.6          2.4   Virginica
137           6.4          3.1           5.5          1.8   Virginica
139           6.9          3.1           5.4          1.0   Virginica
141           6.9          3.1           5.1          2.3   Virginica
143           6.8          3.2           5.9          2.3   Virginica
148           6.0          3.4           4.0          2.3   Virginica

Cau 4: Chuan hoa du lieu min max

In [30]:
df3 = df1.copy()

sepal_length_min = df3['sepal.length'].min()
sepal_length_max = df3['sepal.length'].max()

sepal_width_min = df3['sepal.width'].min()
sepal_width_max = df3['sepal.width'].max()

petal_length_min = df3['petal.length'].min()
petal_length_max = df3['petal.length'].max()

petal_width_min = df3['petal.width'].min()
petal_width_max = df3['petal.width'].max()

In [31]:
df3['sepal.length'] = (df3['sepal.length'] - sepal_length_min) / (sepal_length_max - sepal_length_min)
df3['sepal.width'] = (df3['sepal.width'] - sepal_width_min) / (sepal_width_max - sepal_width_min)
df3['petal.length'] = (df3['petal.length'] - petal_length_min) / (petal_length_max - petal_length_min)
df3['petal.width'] = (df3['petal.width'] - petal_width_min) / (petal_width_max - petal_width_min)
display(df3)

     sepal.length  sepal.width  petal.length  petal.width    variety
0        0.222222     0.625000      0.067797     0.041667     Setosa
1        0.166667     0.416667      0.508475     0.041667     Setosa
2        0.111111     0.500000      0.050847     0.041667     Setosa
3        0.083333     0.458333      0.084746     0.375000     Setosa
4        0.194444     0.666667      0.067797     0.041667     Setosa
..            ...          ...           ...          ...        ...
145      0.666667     0.416667      0.711864     0.916667  Virginica
146      0.555556     0.416667      0.677966     0.750000  Virginica
147      0.472222     0.416667      0.711864     0.791667  Virginica
148      0.472222     0.583333      0.508475     0.916667  Virginica
149      0.444444     0.416667      0.694915     0.708333  Virginica

[150 rows x 5 columns]

Cau 5: Lien tuc hoa du lieu Variety

In [32]:
df4 = df3.copy()
df4['variety'].unique()

array(['Setosa', 'Virginica', 'Versicolor'], dtype=object)

In [33]:
dummies = pd.get_dummies(df4['variety'])
display(dummies)

     Setosa  Versicolor  Virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
..      ...         ...        ...
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

[150 rows x 3 columns]

In [34]:
df4 = pd.concat([df4,dummies], axis=1)
df4.drop('variety', axis=1, inplace=True)
display(df4)

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica
0,0.222222,0.625000,0.067797,0.041667,1,0,0
1,0.166667,0.416667,0.508475,0.041667,1,0,0
2,0.111111,0.500000,0.050847,0.041667,1,0,0
3,0.083333,0.458333,0.084746,0.375000,1,0,0
4,0.194444,0.666667,0.067797,0.041667,1,0,0
...,...,...,...,...,...,...,...
145,0.666667,0.416667,0.711864,0.916667,0,0,1
146,0.555556,0.416667,0.677966,0.750000,0,0,1
147,0.472222,0.416667,0.711864,0.791667,0,0,1
148,0.472222,0.583333,0.508475,0.916667,0,0,1
149,0.444444,0.416667,0.694915,0.708333,0,0,1

Cau 6: Xay dung mo hinh hoi quy tuyen tinh

In [35]:
df5 = df1.copy()

In [36]:
x = df5.drop('variety', axis = 1)
y = df5['variety']
tp = int(0.9 * len(x))

In [37]:
x_train = x[:tp]
x_test = x[tp:]
y_train = y[:tp]
y_test = y[tp:]

In [38]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression().fit(x_train, y_train)
logreg.score(x_test, y_test)

0.9333333333333333

In [39]:
pred = logreg.predict(x_test)
print("Predicted label: {}".format(pred))
print("True label: {}".format(y_test.values))

Predicted label: ['Virginica' 'Virginica' 'Virginica' 'Virginica' 'Virginica' 'Virginica'
 'Virginica' 'Versicolor' 'Virginica' 'Virginica' 'Virginica' 'Virginica'
 'Virginica' 'Virginica' 'Virginica']
True label: ['Virginica' 'Virginica' 'Virginica' 'Virginica' 'Virginica' 'Virginica'
 'Virginica' 'Virginica' 'Virginica' 'Virginica' 'Virginica' 'Virginica'
 'Virginica' 'Virginica' 'Virginica']

Cau 7: Lay mau ngau nhien co lap lai 50% du lieu

In [40]:
df6 = df1.sample(len(df3)//2)
df6

     sepal.length  sepal.width  petal.length  petal.width     variety
141           6.9          3.1           5.1          2.3   Virginica
44            5.1          3.8           1.9          1.0      Setosa
33            5.5          4.2           1.4          0.2   Virginica
26            5.0          3.4           1.6          0.4      Setosa
147           6.0          3.0           5.2          2.0   Virginica
..            ...          ...           ...          ...         ...
92            5.8          2.6           4.0          1.2  Versicolor
146           6.3          3.0           5.0          1.9   Virginica
3             4.6          3.1           1.5          1.0      Setosa
75            6.6          3.0           4.4          1.4  Versicolor
103           6.3          3.0           5.6          1.8   Virginica

[75 rows x 5 columns]

Cau 8: Roi rac hoa thuoc tinh variety

In [41]:
df7 = df4.copy()
df7['sepal.length']= pd.cut(df7["sepal.length"],
       bins=[-0.1, 0.2, 0.4, 0.6, 0.8, 1],
       labels=["Very Low", "Low", "Medium", "High", "Very High"])
df7

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica
0,Low,0.625000,0.067797,0.041667,1,0,0
1,Very Low,0.416667,0.508475,0.041667,1,0,0
2,Very Low,0.500000,0.050847,0.041667,1,0,0
3,Very Low,0.458333,0.084746,0.375000,1,0,0
4,Very Low,0.666667,0.067797,0.041667,1,0,0
...,...,...,...,...,...,...,...
145,High,0.416667,0.711864,0.916667,0,0,1
146,Medium,0.416667,0.677966,0.750000,0,0,1
147,Medium,0.416667,0.711864,0.791667,0,0,1
148,Medium,0.583333,0.508475,0.916667,0,0,1
149,Medium,0.416667,0.694915,0.708333,0,0,1

Cau 9: Phan cum du lieu va loai bo ngoai lai

In [42]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import numpy as np

In [43]:
x = df4.copy()
x = x.values
X_petal = x[:,2:4]
kmeans = KMeans(n_clusters=3, random_state=0).fit(X_petal)

c:\Users\cuong\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [44]:
labels = kmeans.labels_
cluster0 = X_petal[labels == 0]
cluster1 = X_petal[labels == 1]
cluster2 = X_petal[labels == 2]

In [45]:
display("Cluster 1:", cluster0)
display("Cluster 2:", cluster1)
display("Cluster 3:", cluster2)

'Cluster 1:'

array([[0.06779661, 0.04166667],
       [0.50847458, 0.04166667],
       [0.05084746, 0.04166667],
       [0.08474576, 0.375     ],
       [0.06779661, 0.04166667],
       [0.11864407, 0.125     ],
       [0.06779661, 0.08333333],
       [0.08474576, 0.04166667],
       [0.06779661, 0.04166667],
       [0.08474576, 0.        ],
       [0.08474576, 0.04166667],
       [0.10169492, 0.04166667],
       [0.06779661, 0.        ],
       [0.01694915, 0.        ],
       [0.03389831, 0.04166667],
       [0.08474576, 0.375     ],
       [0.05084746, 0.125     ],
       [0.06779661, 0.08333333],
       [0.11864407, 0.375     ],
       [0.08474576, 0.08333333],
       [0.50847458, 0.04166667],
       [0.        , 0.04166667],
       [0.11864407, 0.16666667],
       [0.15254237, 0.04166667],
       [0.10169492, 0.04166667],
       [0.10169492, 0.125     ],
       [0.08474576, 0.04166667],
       [0.06779661, 0.04166667],
       [0.10169492, 0.04166667],
       [0.10169492, 0.04166667],
       [0.08474576, 0.125     ],
       [0.08474576, 0.        ],
       [0.06779661, 0.04166667],
       [0.50847458, 0.04166667],
       [0.03389831, 0.04166667],
       [0.05084746, 0.04166667],
       [0.06779661, 0.        ],
       [0.05084746, 0.375     ],
       [0.08474576, 0.04166667],
       [0.05084746, 0.08333333],
       [0.05084746, 0.08333333],
       [0.05084746, 0.04166667],
       [0.10169492, 0.20833333],
       [0.15254237, 0.375     ],
       [0.06779661, 0.08333333],
       [0.10169492, 0.04166667],
       [0.06779661, 0.04166667],
       [0.08474576, 0.04166667],
       [0.06779661, 0.04166667]])

'Cluster 2:'

array([[0.6440678 , 0.70833333],
       [0.6779661 , 0.66666667],
       [0.69491525, 0.75      ],
       [0.83050847, 0.83333333],
       [0.77966102, 0.70833333],
       [0.81355932, 0.875     ],
       [0.50847458, 0.83333333],
       [0.81355932, 0.70833333],
       [0.86440678, 1.        ],
       [0.69491525, 0.79166667],
       [0.50847458, 0.75      ],
       [0.76271186, 0.83333333],
       [0.50847458, 0.79166667],
       [0.69491525, 0.95833333],
       [0.72881356, 0.91666667],
       [0.76271186, 0.70833333],
       [0.96610169, 0.875     ],
       [1.        , 0.91666667],
       [0.79661017, 0.91666667],
       [0.96610169, 0.79166667],
       [0.66101695, 0.70833333],
       [0.79661017, 0.83333333],
       [0.84745763, 0.70833333],
       [0.6440678 , 0.70833333],
       [0.66101695, 0.70833333],
       [0.77966102, 0.83333333],
       [0.81355932, 0.625     ],
       [0.91525424, 0.79166667],
       [0.77966102, 0.875     ],
       [0.86440678, 0.91666667],
       [0.77966102, 0.95833333],
       [0.76271186, 0.70833333],
       [0.50847458, 0.95833333],
       [0.69491525, 0.91666667],
       [0.50847458, 0.75      ],
       [0.83050847, 0.91666667],
       [0.79661017, 1.        ],
       [0.71186441, 0.91666667],
       [0.6779661 , 0.75      ],
       [0.71186441, 0.79166667],
       [0.50847458, 0.91666667],
       [0.69491525, 0.70833333]])

'Cluster 3:'

array([[0.50847458, 0.125     ],
       [0.62711864, 0.54166667],
       [0.59322034, 0.375     ],
       [0.66101695, 0.58333333],
       [0.50847458, 0.375     ],
       [0.61016949, 0.58333333],
       [0.50847458, 0.5       ],
       [0.62711864, 0.625     ],
       [0.38983051, 0.375     ],
       [0.61016949, 0.5       ],
       [0.50847458, 0.54166667],
       [0.42372881, 0.375     ],
       [0.54237288, 0.58333333],
       [0.50847458, 0.375     ],
       [0.62711864, 0.375     ],
       [0.44067797, 0.5       ],
       [0.57627119, 0.54166667],
       [0.50847458, 0.58333333],
       [0.52542373, 0.375     ],
       [0.59322034, 0.58333333],
       [0.49152542, 0.41666667],
       [0.50847458, 0.5       ],
       [0.66101695, 0.58333333],
       [0.62711864, 0.45833333],
       [0.55932203, 0.5       ],
       [0.57627119, 0.54166667],
       [0.6440678 , 0.54166667],
       [0.59322034, 0.58333333],
       [0.42372881, 0.375     ],
       [0.47457627, 0.41666667],
       [0.45762712, 0.375     ],
       [0.49152542, 0.45833333],
       [0.50847458, 0.625     ],
       [0.50847458, 0.58333333],
       [0.59322034, 0.625     ],
       [0.62711864, 0.58333333],
       [0.57627119, 0.5       ],
       [0.52542373, 0.5       ],
       [0.50847458, 0.5       ],
       [0.57627119, 0.45833333],
       [0.61016949, 0.54166667],
       [0.50847458, 0.45833333],
       [0.38983051, 0.375     ],
       [0.54237288, 0.5       ],
       [0.54237288, 0.45833333],
       [0.54237288, 0.5       ],
       [0.55932203, 0.5       ],
       [0.33898305, 0.41666667],
       [0.52542373, 0.5       ],
       [0.84745763, 0.375     ],
       [0.59322034, 0.66666667],
       [0.89830508, 0.375     ],
       [0.6779661 , 0.58333333],
       [0.66101695, 0.375     ],
       [0.86440678, 0.375     ],
       [0.69491525, 0.375     ],
       [0.77966102, 0.54166667],
       [0.6440678 , 0.375     ],
       [0.74576271, 0.375     ]])